<mat-toolbar class="loterias-toolbar">
  <a routerLink="/">Loterias CAIXA (Resultados)</a>
</mat-toolbar>
<mat-sidenav-container class="loterias-sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="loterias-sidenav"
               [fixedInViewport]="true"
               [fixedBottomGap]="0">
    <mat-nav-list>
      <a mat-list-item routerLink="/maismilionaria">
        <span class="entry">
          <span>Mais Milionária</span>
        </span>
      </a>
      <a mat-list-item routerLink="/megasena">
        <span class="entry">
          <span>MegaSena</span>
        </span>
      </a>
      <a mat-list-item routerLink="/lotofacil">
        <span class="entry">
          <span>LotoFácil</span>
        </span>
      </a>
      <a mat-list-item routerLink="/quina">
        <span class="entry">
          <span>Quina</span>
        </span>
      </a>
      <a mat-list-item routerLink="/lotomania">
        <span class="entry">
          <span>LotoMania</span>
        </span>
      </a>
      <a mat-list-item routerLink="/timemania">
        <span class="entry">
          <span>TimeMania</span>
        </span>
      </a>
      <a mat-list-item routerLink="/duplasena">
        <span class="entry">
          <span>DuplaSena</span>
        </span>
      </a>
      <a mat-list-item routerLink="/federal">
        <span class="entry">
          <span>Federal</span>
        </span>
      </a>
      <a mat-list-item routerLink="/diadesorte">
        <span class="entry">
          <span>Dia de Sorte</span>
        </span>
      </a>
      <a mat-list-item routerLink="/supersete">
        <span class="entry">
          <span>SuperSete</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="loterias-sidenav-content">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
