<mat-card class="loteria-card" appearance="outlined">
  <mat-card-header class="loteria-card-header">
    <div mat-card-avatar class="header-image"
         [style]="{'background-image': 'url(' + '/' + nomeLoteria + '.png' + ')'}">
    </div>
    <mat-card-title>{{ latestConcurso?.loteria }}</mat-card-title>
    <mat-card-subtitle>concurso {{ latestConcurso?.concurso }}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="loteria-card-content">
    @if (this.nomeLoteria != "federal") {
    <p>
      @for(dezena of latestConcurso?.dezenas; track dezena) {
        <span class="loteria-dezena-circle">{{ dezena }}</span>
      }
    </p>
    } @else {
    <p>
      @for(dezena of latestConcurso?.dezenas; track dezena) {
        <span class="loteria-bilhete-square">{{ dezena }}</span>
      }
    </p>
    }
    <p>
      Próximo concurso: {{ latestConcurso?.proximoConcurso}}
      @if (this.nomeLoteria != "federal") {
      ({{ latestConcurso?.dataProximoConcurso }})
      }
    </p>
    @if (this.nomeLoteria != "federal") {
    <p>Estimativa de prêmio: {{ latestConcurso?.valorEstimadoProximoConcurso | currency:'BRL':true }}</p>
    }
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="loteria-card-actions">
    <button mat-button routerLink="/{{ nomeLoteria }}">VER TODOS RESULTADOS</button>
  </mat-card-actions>
</mat-card>
