<mat-grid-list cols="5" rowHeight="1:1.25">
  <mat-grid-tile><app-loteria-card loteria="maismilionaria"></app-loteria-card></mat-grid-tile>
  <mat-grid-tile><app-loteria-card loteria="megasena"></app-loteria-card></mat-grid-tile>
  <mat-grid-tile><app-loteria-card loteria="lotofacil"></app-loteria-card></mat-grid-tile>
  <mat-grid-tile><app-loteria-card loteria="quina"></app-loteria-card></mat-grid-tile>
  <mat-grid-tile><app-loteria-card loteria="lotomania"></app-loteria-card></mat-grid-tile>
  <mat-grid-tile><app-loteria-card loteria="timemania"></app-loteria-card></mat-grid-tile>
  <mat-grid-tile><app-loteria-card loteria="duplasena"></app-loteria-card></mat-grid-tile>
  <mat-grid-tile><app-loteria-card loteria="federal"></app-loteria-card></mat-grid-tile>
  <mat-grid-tile><app-loteria-card loteria="diadesorte"></app-loteria-card></mat-grid-tile>
  <mat-grid-tile><app-loteria-card loteria="supersete"></app-loteria-card></mat-grid-tile>
</mat-grid-list>